
###> symfony/framework-bundle ###
.mage
frontend/application/node_modules
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea
node_modules
composer.json
