#uniformed_search {
  width: 100%;
  overflow: hidden;

  .search-box-wrapper {
    padding: 20px 0 20px 0;

    margin-top: 50px;
  }

  .filter-box-wrapper {
    padding: 20px 0 20px 0;
  }

  .filter-box-fixed-width-row {
    width: 480px;
    max-width: 480px;
    overflow: hidden;

    margin: 0 auto;

    .filter-add-button-wrapper {
      button {
        position: relative;
        width: 97px;
        float: right;
        color: $lightBlue;

        font-size: 1em;
        border: none;
        font-family: $ralewayFont;
        text-align: left;

        margin-right: 86px;

        transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -o-transition: color 0.5s;

        &:hover {
          color: $darkBlue;
          cursor: pointer;
        }
      }

      button i {
        position: absolute;
        top: 3px;
        right: 0;
      }
    }

    .added-filters-box {
      width: 393px;
      float: left;

      margin: 10px 0 10px 0;
      padding-bottom: 10px;

      border-bottom: 1px solid $lightBlue;

      .filter-message {
        display: block;
        font-size: 0.7em;
        color: $textColor;
      }

      .added-filters {
        width: 393px;
        float: left;

        margin-bottom: 10px;

        span {
          display: inline-block;
          float: left;
          padding: 10px;
          margin: 0 10px 10px 0;
          text-align: center;

          color: white;
          font-size: 0.7em;

          border-radius: 100px;
          background-color: $basicOrange;

          i {
            margin-left: 5px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .add-filters-box {
      width: 393px;
      float: left;

      margin: 10px 0 10px 0;
      padding-bottom: 20px;

      border-bottom: 1px solid $lightBlue;

      button {
        border: none;
        font-family: $ralewayFont;
        padding: 10px;

        border-radius: 100px;
      }

      .filter {
        display: inline-block;
        margin-right: 10px;
        color: white;
        background-color: $lightBlue;
        font-size: 0.9em;

        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;

        i {
          margin-left: 5px;
        }

        &:hover {
          cursor: pointer;
          background-color: $darkBlue;
        }
      }

      .disable-added-filter {
        display: inline-block;
        margin-right: 10px;
        color: white;
        background-color: $lightestGray;

        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;

        i {
          margin-left: 5px;
        }

        &:hover {
          cursor: default;
        }
      }

      .error-message {
        color: $basicOrange;
        font-size: 0.9em;

        margin-top: 20px;

        line-height: 1.5em;
      }

      .price-range-filter {
        display: inline-block;

        font-size: 0.9em;
        color: white;
        border-radius: 100px;
        background-color: $lightBlue;

        margin: 10px 10px 10px 0;

        padding: 8px;

        input[type="text"] {
          border: none;
          font-family: $ralewayFont;
          border-radius: 100px;
          font-size: 0.9em;

          padding: 5px;

          width: 50px;
        }
      }
    }
  }

  .search-box {
    width: 480px;
    max-width: 480px;
    overflow: hidden;

    background-color: white;

    margin: 0 auto;

    .search-input {
      width: 275px;
      display: block;
      float: left;

      font-family: $ralewayFont;
      font-weight: lighter;
      border: 1px solid $lightBlue;
      font-size: 1.5em;
      border-radius: 100px;
      padding: 10px;

      &::-webkit-input-placeholder {
        color: #a8a8a8;
        font-size: 0.8em;
      }

      &::-moz-placeholder {
        color: #a8a8a8;
        font-size: 0.8em;
      }

      &::-ms-input-placeholder {
        color: #a8a8a8;
        font-size: 0.8em;
      }

      &::-moz-placeholder {
        color: #a8a8a8;
        font-size: 0.8em;
      }
    }

    button {
      width: 100px;
      display: block;
      float: left;

      border: none;
      font-family: $ralewayFont;
      font-size: 1.2em;
      color: white;
      background-color: $lightBlue;

      padding: 14px;
      margin-left: 22px;
      border-radius: 100px;

      transition: background-color 0.5s;

      &:hover {
        cursor: pointer;
        background-color: $darkBlue;
      }
    }

    p {
      width: 275px;
      float: left;
      color: $textColor;

      line-height: 1.5em;
      font-size: 0.7em;

      margin-left: 11px;
      margin-top: 5px;

      i {
        color: $darkBlue;
      }

      a {
        color: $darkBlue;
      }
    }

    .keywords-error {
      border: 1px solid red;
    }
  }

  .search-listing-wrapper {
    margin-top: 50px;
  }

  .search-listing {
    width: 960px;
    max-width: 960px;

    overflow: hidden;

    margin: 0 auto;

    .bordered-row-separator {
      width: 50px;
      float: left;
      height: 1px;

      background-color: $lightestGray;

      margin-bottom: 15px;
    }

    .shop-logo {
      img {
        display: block;
        width: 40px;
        height: 40px;
      }
    }

    .search-item {
      display: inline-block;
      width: 200px;
      max-width: 200px;

      float: left;

      background-color: white;

      margin: 0 0 40px 40px;

      border-radius: 20px;

      .item-image {
        width: 100%;
        height: 150px;
        float:left;

        margin: 0 18px 18px 0;

        img {
          display: block;
          width: 100%;
          height: 150px;
        }
      }

      .title-wrapper {
        margin-bottom: 10px;

        h1 {
          font-size: 0.9em;
        }
      }

      .account-wrapper {
        margin-bottom: 10px;

        font-size: 0.7em;

        a {
          color: $lightBlue;
          border-bottom: 1px solid white;

          transition: color 0.5s, border-bottom 0.5s;
          -webkit-transition: color 0.5s, border-bottom 0.5s;
          -moz-transition: color 0.5s, border-bottom 0.5s;
          -o-transition: color 0.5s, border-bottom 0.5s;

          &:hover {
            color: $darkBlue;
            border-bottom: 1px solid $darkBlue;
          }
        }

      }

      .price-wrapper {
        h1 {
          font-weight: bolder;
        }
      }

      .view-item-button-wrapper {
        margin-top: 15px;

        a {
          display: block;
          width: 100%;
          border: none;
          font-family: $ralewayFont;

          text-align: center;

          color: white;

          background-color: $basicOrange;

          padding: 15px;

          font-size: 0.7em;
        }
      }


    }
  }
}