#uniformed_search {
  width: 100%;
  overflow: hidden;

  .search-box {
    width: 480px;
    max-width: 480px;
    overflow: hidden;

    margin: 0 auto;

    margin-top: 50px;

    input[type="text"] {
      width: 275px;
      display: block;
      float: left;

      font-family: $ralewayFont;
      font-weight: lighter;
      border: 1px solid $lightBlue;
      font-size: 1.5em;
      border-radius: 100px;
      padding: 10px;

      &::-webkit-input-placeholder {
        color: #a8a8a8;
        font-size: 0.8em;
      }

      &::-moz-placeholder {
        color: #a8a8a8;
        font-size: 0.8em;
      }

      &::-ms-input-placeholder {
        color: #a8a8a8;
        font-size: 0.8em;
      }

      &::-moz-placeholder {
        color: #a8a8a8;
        font-size: 0.8em;
      }
    }

    button {
      width: 100px;
      display: block;
      float: left;

      border: none;
      font-family: $ralewayFont;
      font-size: 1.2em;
      color: white;
      background-color: $lightBlue;

      padding: 14px;
      margin-left: 22px;
      border-radius: 100px;

      transition: background-color 0.5s;

      &:hover {
        cursor: pointer;
        background-color: $darkBlue;
      }
    }

    p {
      width: 275px;
      float: left;
      color: $textColor;

      line-height: 1.5em;
      font-size: 0.7em;

      margin-left: 11px;
      margin-top: 5px;

      i {
        color: $darkBlue;
      }

      a {
        color: $darkBlue;
      }
    }
  }
}