.ItemList {
  width: 100%;
  float: left;
}

.ShippingListPopover {
  p {
    height: 50px;
    margin-bottom: 5px;
    width: 100%;

    span {
      display: block;
      float: left;
      margin-top: 15px;
      margin-right: 10px;
    }

    img {
      display: block;
      float: right;
      width: 40px;
      height: 20px;

      margin-top: 13px;
    }
  }
}

.Item {
  float: left;
  overflow: hidden;

  margin: 0 0 40px 80px;

  .Item_ItemTaxonomyTitle {
    width: 250px;
    float: left;

    margin-top: 13px;
  }

  .ItemTitle-webshop-logo {
    width: 70px;
    float: right;

    img {
      display: block;
      float: right;
      width: 50px;
      height: 50px;
    }
  }

  .Item_Details-shipping-list {
    button {
      border: none;
      font-family: $mainFont;
      background-color: none;

      color: $textColor;

      font-size: 1em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .Item_ItemTitle {
    width: 100%;
    float: left;

    .ItemTitle-translation {
      width: 100%;
      float: left;

      height: 20px;

      margin-top: 10px;

      a {
        color: $middleGray;
      }
    }

    .ItemTitle-header {
      width: 100%;
      float: left;

      line-height: 1.2em;
    }
  }

  .Item_Details-shipping-countries-list {
    width: 100%;
    float: left;
  }

  .Item_ItemImage {
    width: 100%;
    height: 120px;
    float: left;

    margin: 0 0 40px 0;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .Item_Details {
    width: 100%;
    float: left;

    .Item_Details-shop-name {
      display: inline-block;
      color: $darkBlue;
      font-weight: bolder;
    }

    .Item_Details-item-price {
      color: black;
      font-weight: bolder;
    }
  }

  .Item_ItemLink {
    width: 100%;
    float: left;

    .ItemLink-closer-look {
      display: block;
      color: white;

      background-color: $basicOrange;
      text-align: center;

      padding: 10px;
    }
  }
}

.TodayProductItem {
  width: 480px;
  height: 410px;
}

.SearchItemItem {
  width: 220px;
  height: 415px;
  float: right;

  margin: 0 0 40px 40px;

  .Item_ItemTitle {
    width: 100%;
    float: left;

    .ItemTitle-header {
      width: 100%;
      float: left;

      line-height: 1.2em;

      height: 50px;
    }
  }

  .Item_Details {
    width: 100%;
    float: left;

    .Item_Details-shop-name {
      width: 100%;
      display: inline-block;
      color: $darkBlue;
      font-weight: bolder;

      margin-top: 10px;
    }

    .Item_Details-item-price {
      color: black;
      font-weight: bolder;
    }
  }
}