$ralewayFont: 'Raleway', sans-serif;
$paytonOneFont: 'Paytone One', sans-serif;

$background: #EEF3F6;
$textColor: #5b5b5b;

$middleGray: #898989;
$lightestGray: #d6d6d6;

$darkBlue: #2E53F3;
$lightBlue: #b3bff2;

$basicOrange: #f78f27;