@import "search_box";
@import "filter_box";

#uniformed_search {
  width: 100%;
  overflow: hidden;
}

.error-message {
  position: relative;

  color: white;
  font-size: 0.9em;
  background-color: $lightestGray;

  border-radius: 100px;

  margin-bottom: 20px;

  line-height: 1.5em;

  padding: 5px 30px 5px 50px;

  .info {
    position: absolute;
    color: white;
    left: 10px;
    top: 16px;

    font-size: 1.3em;
  }

  .close {
    position: absolute;
    right: 16px;
    bottom: 13px;

    padding: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}