.SiteLanguageChoice {
  width: 200px;
  height: 100px;
  float: right;

  font-size: 1em;

  margin: 40px 20px 0 0;

  .SelectedLanguage {
    width: 100%;
    overflow: hidden;
    position: relative;

    padding: 10px;

    border: 1px solid $lightestGray;
    border-radius: 50px;

    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;

    img {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;

      right: 3px;
      top: 3px;
    }

    &:hover {
      cursor: pointer;

      -webkit-box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);
      -moz-box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);
      box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);
    }
  }

  .Explanation {
    width: 100%;
    display: block;
    margin: 0 0 3px 0;
    line-height: 1.2em;
    font-size: 0.8em;
  }
}

.LanguageChoiceModalWrapper {
  position: relative;

  .CloseModal {
    position: absolute;
    top: 15px;
    right: 15px;

    font-size: 1.2em;
    color: $lightestGray;

    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;

    z-index: 1000;

    &:hover {
      cursor: pointer;
      color: $basicOrange;
    }
  }

  .LanguageChoiceInner {
    width: 100%;
    float: left;

    position: relative;

    margin: 30px 0 20px 0;

    padding: 30px;
  }

  .LanguageChoice {
    width: 100%;
    float: left;

    position: relative;

    padding: 15px;

    margin: 0 0 10px 0;

    border: 1px solid $lightestGray;
    border-radius: 30px;

    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;

    img {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;

      right: 8px;
      top: 8px;
    }

    &:hover {
      cursor: pointer;

      background-color: $basicOrange;
      border: 1px solid $basicOrange;
      color: white;
    }
  }
}