.SiteLanguageChoice {
  width: 200px;
  height: 50px;

  z-index: 1000;
  position: absolute;

  right: 122px;
  top: 30px;

  font-size: 1em;

  .Title {
    display: block;
    width: 250px;
    margin: 0 0 3px 0;
    line-height: 1.2em;
    font-size: 0.8em;
  }
}