{% set cache = 'random'~random(999999) %}

<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}I Would Like{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("style/application/build.css?v="~cache) }}" />
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Paytone+One|Quicksand:400,500,700|Taviraj:400,600,600i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body>
        <div id="vue_app" class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {% set cacheClear = 'random'~random(999999) %}

            <script src={{ asset("js/dist/build.js?v="~cacheClear) }}></script>
        {% endblock %}
    </body>
</html>
