{% set cache = random(9999999) %}

<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Langland{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("style/application/build.css?v="~cache) }}" />
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Paytone+One|Quicksand" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body>
        <div id="vue_app" class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {% set cacheClear = 'random'~random(999999) %}

            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

            <script src={{ asset("js/dist/build.js?v="~cacheClear) }}></script>

            <script>
                if (document.getElementById('typed_js_sentence')) {
                    var options = {
                        strings: ["Ebay", "Amazon", "Etsy", "Viagogo", "Ticket master", "the best"],
                        typeSpeed: 100,
                        backSpeed: 100,
                        startDelay: 1000,
                        showCursor: false
                    };

                    new Typed("#typed_js_sentence", options);
                }
            </script>
        {% endblock %}
    </body>
</html>
