{% set cache = 'random'~random(9999999) %}

<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}I Would Like{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("style/application/build.css?v="~cache) }}" />
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Paytone+One|Quicksand:400,500,700|Taviraj:400,600,600i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>

    <body>
        <div id="vue_app" class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script>
                window.IWL_ENVIRONMENT = 'dev';
                var currentVersion = 'mXwCDtqanXT4iSMY7ZCMpn4B5FAuG45PsgxnfKnt';
                var src = '/js/dist/build.js';

                window.CookieHandler = {};

                window.CookieHandler.createCookie = function createCookie(name, value, days) {
                    var expires;

                    if (days) {
                        var date = new Date();
                        date.setTime(date.getTime()+(days*24*60*60*1000));
                        expires = "; expires="+date.toGMTString();
                    }
                    else {
                        expires = "";
                    }

                    document.cookie = name+"="+value+expires+"; path=/";
                };

                window.CookieHandler.readCookie = function readCookie(name) {
                    var nameEQ = name + "=";

                    var ca = document.cookie.split(';');

                    for(var i=0;i < ca.length;i++) {
                        var c = ca[i];

                        while (c.charAt(0) === ' ') {
                            c = c.substring(1,c.length);
                        }

                        if (c.indexOf(nameEQ) === 0) {
                            return c.substring(nameEQ.length,c.length);
                        }
                    }

                    return null;
                };

                window.CookieHandler.eraseCookie = function eraseCookie(name) {
                    window.CookieHandler.createCookie(name,"",-1);
                };


                function addScript(src) {
                    var s = document.createElement( 'script' );
                    s.setAttribute( 'src', src );
                    document.body.appendChild( s );
                }

                function handleProdBuild() {
                    if (window.CookieHandler.readCookie('version') === null) {
                        window.CookieHandler.createCookie('version', currentVersion, 30);

                        addScript(src + '?v=' + currentVersion);

                        return false;
                    }

                    if (window.CookieHandler.readCookie('version') !== null) {
                        var version = window.CookieHandler.readCookie('version');

                        if (version !== currentVersion) {
                            addScript(src + '?v=' + currentVersion);
                        } else if (version === currentVersion) {
                            addScript(src);
                        }
                    }
                }

                if (window.IWL_ENVIRONMENT === 'prod') {
                    handleProdBuild();
                } else if (window.IWL_ENVIRONMENT === 'dev') {
                    addScript(src + '?v=' + currentVersion + Math.floor(Math.random() * Math.floor(999999999)));
                }

            </script>
        {% endblock %}
    </body>
</html>
