$mainFont: 'Quicksand', sans-serif;
$paytonOneFont: 'Paytone One', sans-serif;

$background: #EEF3F6;
$textColor: #5b5b5b;

$middleGray: #898989;
$lightestGray: #d6d6d6;

$darkBlue: #2E53F3;
$lightBlue: #b3bff2;

$basicOrange: #f78f27;

body {
  font-size: 16px;
  width: 100%;
  background-color: white;
  font-family: $mainFont;
  color: $textColor;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
}

.container {
  width: 960px;
  max-width: 960px;

  margin: 0 auto;

  overflow: hidden;

  border: 1px solid red;
}

.wrap {
  width: 100%;
  float: left;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}