$mainFont: 'Quicksand', sans-serif;
$paytonOneFont: 'Paytone One', sans-serif;

$background: #EEF3F6;
$textColor: #5b5b5b;

$middleGray: #898989;
$lightestGray: #d6d6d6;

$darkBlue: #2E53F3;
$lightBlue: #b3bff2;

$basicOrange: #f78f27;
$lightOrange: #f48e5f;

$basicGreen: #46ea25;

$errorColor: #f41f1f;

body {
  font-size: 16px;
  width: 100%;
  background-color: white;
  font-family: $mainFont;
  color: $textColor;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
}

.container {
  width: 1280px;
  max-width: 1280px;

  margin: 0 auto;

  overflow: hidden;
}

.wrap {
  width: 100%;
  float: left;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}