@media only screen and (max-width: 960px) {
  .LeftPanel {
    width: 92%;
  }

  .FiltersWrapper {
    width: 280px;
    position: absolute;
    background-color: white !important;

    left: -260px;

    padding: 20px;

    z-index: 1000;

    border-right: 1px solid $lightestGray !important;
    border-top: 1px solid $lightestGray !important;
    border-bottom: 1px solid $lightestGray !important;

    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;

    .FilterMenuOpener {
      display: block;
      width: 50px;
      height: 50px;

      font-size: 2em;

      position: absolute;
      top: 100px;
      right: -31px;

      color: $basicOrange;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .ClickableFilterMenuOpener {
    left: 0 !important;
  }

  .SearchItems {
    .SearchItem {
      margin-right: 20px;
    }

    .ImageWrapper {
      img {
        height: 170px;
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .SingleItemWrapper {
    width: 100% !important;

    .ItemLoaderWrapper {
      .ItemLoader {
        font-size: 2.5em !important;
      }
    }

    .SingleItem {
      .RightPanel, .LeftPanel {
        width: 480;
        float: none;
        overflow: hidden;
        margin: 0 auto;

        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .SearchItems {
    .SearchItem {
      width: 280px;

      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 740px) {
  .SearchItems {
    .SearchItem {
      width: 280px;
      float: none;
      overflow: hidden;

      margin: 0 auto;

      margin-bottom: 30px;
    }
  }

  .ModifiersWrapper {
    width: 100%;
    float: left;
  }

  .ModifierWrapper {
    margin: 0 auto !important;
    float: none !important;
    overflow: hidden !important;

    margin-bottom: 10px !important;
  }

  .Features, .Guide, .Progress, .ForYou {
    width: 480px;

    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .SiteLanguageChoice {
    right: 45px;
  }

  #main_header {
    .SearchBox {
      width: 100%;
    }
  }

  .ListingChoiceComponent {
    width: 97%;
  }

  #search_page {
    .Sentence {
      width: 97%;
    }

    .SearchBoxAdvanced {
      width: 97%;
    }
  }

  .SingleItemWrapper {
    width: 100% !important;
    padding: 5px;

    .SingleItem {
      .RightPanel, .LeftPanel {
        width: 100%;
        float: none;
        overflow: hidden;
        margin: 0 auto;

        margin-bottom: 50px;
      }
    }

    .ItemLoaderWrapper {
      .ItemLoader {
        font-size: 1.5em !important;
      }
    }
  }

  .Homepage {
    .Row {
      .Advert {
        width: 100%;
      }

      .HomepageRouter {
        width: 100%;
      }
    }
  }

  .SearchItems {
    width: 97%;

    .EbayResultsLoading {
      font-size: 1.5em;
    }

    .SearchItem {
      width: 100%;

      padding: 10px;

      margin: 0 auto;

      margin-bottom: 30px;
    }

    .ImageWrapper {
      img {
        width: 200px;
        height: 170px;

        margin: 0 auto;
      }
    }

    .LoadMoreWrapper {
      .LoadMoreButton {
        width: 97%;
      }
    }
  }

  .tooltip {
    .tooltip-inner {
      width: 97% !important;
    }
  }

  .popover {
    .popover-inner {
      width: 97% !important;
    }
  }

  .v-select {
    width: 200px !important;
  }

  .QuickLookWindow {
    width: 100%;

    .Row {
      .desc-left {
        width: 250px;
        float: left;

        margin-bottom: 10px;
      }

      .desc-right {
        width: 100%;
        overflow: hidden;

        margin: 0 auto;

        color: black;
        font-weight: bold;
      }
    }
  }

  .ModifiersWrapper {
    width: 100%;
    float: left;
  }

  .ModifierWrapper {
    margin: 0 auto !important;
    float: none !important;
    overflow: hidden !important;

    margin-bottom: 10px !important;
  }

  .NavItem {
    width: 100%;
    padding: 10px;
  }

  .Features, .Guide, .Progress, .ForYou {
    width: 480px;

    padding: 10px;
  }
}