@import "modal";
@import "Text";
@import "GlobalErrorHandler";
@import "NameValueContainer";

#IWouldLike {
  display: inline-block;
  font-family: $paytonOneFont;
  font-size: 16px;
  font-weight: bolder;

  .i-part {
    color: $darkBlue;
  }

  .would-part {
    color: $basicGreen;
  }

  .like-part {
    color: $basicOrange;
  }
}