#StartPage {
  width: 480px;
  overflow: hidden;

  margin: 0 auto;

  border: 1px solid red;

  padding: 10px;

  position: relative;

  .Row {
    width: 100%;
    float: left;

    margin: 0 0 50px 0;

    .Advert {
      font-size: 2em;
      color: $middleGray;

      text-align: center;
    }
  }
}