#StartPage {
  width: 100%;
  float: left;

  position: relative;

  .StartPage-background-image {
    img {
      width: 100%;
      float: left;
    }
  }

  .StartPage_MissionStatement {
    width: 480px;
    position: absolute;
    color: white;
    background-color: rgba(96, 96, 96, 0.6);
    padding: 20px;

    border-radius: 10px;

    top: 10%;
    left: 30%;

    .MissionStatement-header {
      font-size: 2em;

      margin-bottom: 20px;
    }

    .MissionStatement_Content {
      font-size: 1.5em;

      line-height: 1.3em;

      .Content-full-element-span {
        width: 100%;
        display: block;
      }
    }

    .MissionStatement_Link {
      color: $basicOrange;
      font-family: $paytonOneFont;

      &:hover {
        border-bottom: 4px solid $basicOrange;
      }
    }
  }
}

#typed_js_sentence {
  width: 100%;
  float: left;

  height: 30px;
  color: $basicOrange;
  font-family: $paytonOneFont;

  text-align: center;
}