#todays_picks {
  width: 100%;
  float: left;

  .todays-picks-header {
    width: 480px;
    overflow: hidden;
    padding: 10px;

    margin: 30px auto;

    text-align: center;

    font-size: 1.5em;
    font-weight: bolder;
  }
}