.ShippingDetailsImplementation {
  width: 100%;
  overflow: hidden;

  padding: 50px;

  .ActionContainer {
    width: 100%;
    overflow: hidden;

    padding-bottom: 10px;

    border-bottom: 1px solid $lightestGray;

    .ExcludedShippingErrorMessage {
      width: 100%;
      float: left;

      margin: 20px 0 20px 0;
      padding: 15px;
      color: $basicOrange;
      background-color: #f9c7c7;
    }

    .SelectCountryContainer {
      .TextArea {
        display: inline-block;
        float: left;
        font-size: 1.1em;
      }

      .SelectArea {
        width: 180px;
        float: right;

        margin-left: 20px;

        font-family: $mainFont;
        font-size: 1em;

        background-color: white;
        border: 1px solid $lightestGray;
      }
    }
  }

  .InformationContainer {
    width: 100%;
    overflow: hidden;

    padding-bottom: 10px;
    margin: 50px 0 50px 0;

    .DataRow {
      h1 {
        font-size: 1.2em;
        border-bottom: 1px solid $lightestGray;
        padding-bottom: 10px;

        margin-bottom: 30px;
        line-height: 1.4em;
      }

      h2 {
        font-size: 1.2em;
        padding-bottom: 10px;
      }

      .DataContainer {
        width: 95%;
        float: left;

        padding-left: 10px;

        margin: 10px 0 10px 0;

        .Row, .NameValueContainer {
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }
  }
}