.ShippingDetailsImplementation {
  width: 100%;
  float: left;

  position: relative;

  min-height: 400px;

  padding: 50px;

  .CloseButton {
    position: absolute;
    top: 0; right: 0;

    color: $lightestGray;

    padding: 10px;

    font-size: 1.2em;

    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;

    &:hover {
      color: $basicOrange;
      cursor: pointer;
    }
  }

  .ActionContainer {
    width: 100%;
    float: left;

    padding-bottom: 10px;

    .ExcludedShippingErrorMessage {
      width: 100%;
      float: left;

      margin: 20px 0 20px 0;
      padding: 15px;
      line-height: 1.4em;
      color: $basicOrange;
      background-color: #f9c7c7;
    }
  }

  .InformationContainer {
    width: 100%;
    float: left;

    padding-bottom: 10px;
    margin: 50px 0 50px 0;

    .InnerNameValueContainerWrapper {
      width: 100%;
      float: left;

      margin-bottom: 30px;
    }

    .DataRow {
      h1 {
        width: 100%;
        float: left;
        font-size: 1.2em;
        border-bottom: 1px solid $lightestGray;
        padding-bottom: 10px;

        margin-bottom: 30px;
        line-height: 1.4em;

        font-weight: bold;
      }

      h2 {
        width: 100%;
        float: left;
        font-size: 1.2em;
        padding-bottom: 10px;
        font-weight: bold;
      }

      .DataContainer {
        width: 95%;
        float: left;

        padding-left: 10px;

        margin: 10px 0 10px 0;

        .Row, .NameValueContainer {
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }
  }

  .AutocompleteWrapper {
    width: 100%;
    float: left;

    position: relative;

    .AutocompleteInput {
      font-size: 1.2em;

      font-family: $mainFont;

      padding: 10px;
    }

    .autocomplete {
      width: 100%;
      float: right;
    }

    i {
      position: absolute;
      color: $basicOrange;
      z-index: 1001;

      top: 14px; right: 50px;
    }
  }
}