.SingleItemWrapper {
  width: 960px;
  max-width: 960px;
  min-width: 480px;
  overflow: hidden;

  margin: 0 auto;

  .IsHoverable {
    cursor: pointer;
  }

  .ItemLoaderWrapper {
    width: 100%;
    float: left;

    margin: 30px 0 30px 0;

    .ItemLoader {
      text-align: center;

      color: $lightestGray;

      font-size: 2.5em;

      font-weight: bold;
    }
  }

  .NameValueContainer {
    width: 100%;
    float: left;

    position: relative;

    margin: 0 0 15px 0;
    padding: 0 0 15px 0;

    .Name {
      width: 200px;
      float: left;
    }

    .Value {
      width: 180px;
      float: right;

      color: black;

      line-height: 1.4em;
    }

    .ActionIdentifier {
      display: block;
      position: absolute;
      right: 20px;
      top: 4px;
      color: $basicOrange;
    }

    .NameValueDescription {
      width: 100%;
      float: left;

      padding: 0 0 0 20px;
      margin: 20px 0 0 0;

      line-height: 1.4em;

      color: black;
    }
  }

  .Border {
    border-bottom: 1px solid $lightestGray;
  }

  .LightSeparator {
    margin: 5px 0 5px 0;
  }

  .SingleItem {
    width: 100%;
    float: left;
  }

  .Row {
    width: 100%;
    float: left;
  }

  .CenterPanel {
    width: 100%;
    float: left;

    margin: 30px 0 30px 0;
  }

  .Seller {
    margin-bottom: 40px;

    h1 {
      display: inline-block;
      font-family: $mainFont;
      font-weight: bold;
      font-size: 1.1em;

      color: black;
    }

    span {
      display: inline-block;
      color: $middleGray;
    }

    p {
      display: block;
      color: $middleGray;
      margin-top: 5px;

      span {
        color: black;
      }
    }
  }

  .RightPanel {
    width: 450px;
    float: right;
  }

  .LeftPanel {
    width: 450px;
    float: left;

    margin-left: 0;
  }

  .DescriptionWrapper {
    width: 100%;
    float: left;

    margin: 30px 0 30px 0;

    position: relative;

    .DescriptionHeader {
      font-weight: bold;
      font-size: 1.1em;

      padding-bottom: 5px;
      border-bottom: 1px solid $lightestGray;

      margin-bottom: 30px;
    }

    .Description {
      line-height: 1.5em;

      overflow: hidden;
    }

    .ShadowWrapper {
      position: absolute;

      -webkit-box-shadow: inset -5px -71px 85px -19px rgba(255,255,255,1);
      -moz-box-shadow: inset -5px -71px 85px -19px rgba(255,255,255,1);
      box-shadow: inset -5px -71px 85px -19px rgba(255,255,255,1);

      width: 100%;
      height: 150px;

      bottom: 55px;
    }

    .MoreButton {
      display: block;
      font-family: $mainFont;
      color: black;
      font-weight: bold;
      width: 100px;
      float: right;
      font-size: 1.1em;

      margin-top: 30px;
      text-align: right;

      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -o-transition: color 0.5s;

      &:hover {
        cursor: pointer;
        color: $basicOrange;
      }
    }
  }

  .ThumbnailImageWrapper {
    .Image {
      display: block;
      overflow: hidden;
      float: left;

      border-radius: 10px;
    }
  }

  .ViewsWrapper {
    p {
      text-align: right;
      color: $middleGray;
    }
  }

  .TitleWrapper {
    .Title {
      color: black;
      font-size: 1.4em;
      line-height: 1.3em;

      padding-bottom: 20px;

      font-family: $mainFont;
      font-weight: bold;

      border-bottom: 1px solid $lightestGray;
    }
  }

  .PriceWrapper {
    width: 200px;
    float: left;

    .Price {
      font-size: 1.3em;
      color: black;
      margin: 5px 0 5px 0;

      .currencySign {
        font-weight: bold;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  .ShippingOptionsWrapper {
    width: 200px;
    float: right;

    margin-top: 8px;

    button {
      width: 100%;
      background: none;
      font-family: $mainFont;
      font-size: 1em;

      padding: 10px;

      border: 1px solid $lightestGray;

      border-radius: 10px;

      transition: border, 0.5s;
      -webkit-transition: border, 0.5s;
      -moz-transition: border, 0.5s;
      -o-transition: border, 0.5s;

      &:hover {
        cursor: pointer;
        border: 1px solid $basicOrange;
      }
    }
  }

  .ViewOnEbayButtonWrapper {
    width: 100%;
    float: left;

    margin-top: 30px;

    a {
      display: block;
      position: relative;
      width: 200px;
      float: right;

      padding: 20px;

      border: 1px solid $lightestGray;

      border-radius: 10px;

      transition: border 0.5s;
      -webkit-transition: border 0.5s;
      -o-transition: border 0.5s;
      -moz-transition: border 0.5s;

      &:hover {
        border: 1px solid $basicOrange;
      }

      &:hover i {
        color: $basicOrange;
      }

      i {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;

        width: 30px;
        height: 30px;

        color: $middleGray;

        transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -o-transition: color 0.5s;
        -moz-transition: color 0.5s;
      }
    }
  }
}