.FiltersWrapper {
  font-size: 16px !important;

  padding: 0 3px 3px 3px;

  z-index: -1;

  .GenericFiltersWrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  .Error {
    width: 100%;
    float: left;

    font-size: 0.9em;

    color: #ea2e2e;

    margin: 10px 0 20px 0;

    padding-left: 7px;

    line-height: 1.4em;
  }

  .FiltersList {
    width: 100%;
    float: left;

    .Title {
      width: 100%;
      float: left;

      padding: 10px 10px 5px 0;
      border-bottom: 1px solid $lightestGray;

      margin-bottom: 10px;
    }
  }

  .Filter-select {
    width: 100%;
    float: left;

    border: 1px solid $lightestGray;
    margin-top: 10px;

    font-size: 1em;

    line-height: 1.4em;

    .clickable-select-choice {
      padding: 10px;
    }

    #ShippingCountryModal, .Modal {
      .Modal_Header {
        width: 100%;
        float: left;

        font-family: $mainFont;
        color: $middleGray;

        padding: 10px 0 5px 0;

        border-bottom: 1px solid $lightestGray;
      }

      .Modal_Body {
        width: 100%;
        float: left;
        height: 400px;
        overflow: auto;

        margin-top: 10px;

        p {
          width: 100%;
          float: left;

          position: relative;

          color: $middleGray;

          font-family: $mainFont;

          border-bottom: 1px solid white;

          transition: border-bottom 0.5s;
          -webkit-transition: border-bottom 0.5s;
          -moz-transition: border-bottom 0.5s;
          -o-transition: border-bottom 0.5s;

          padding: 10px 10px 10px 0;

          &:hover {
            cursor: pointer;

            border-bottom: 1px solid $basicOrange;
          }

          i {
            position: absolute;
            right: 30px;
            bottom: 12px;

            color: green;
          }
        }
      }

      button {
        width: 70px;
        float: right;
        border: none;

        padding: 7px;
        background-color: none;
        font-family: $mainFont;

        font-size: 1.2em;

        color: $middleGray;
      }

      .Modal_ChooseButton {
        border: 1px solid $lightestGray;
        font-family: $mainFont;
        font-size: 1em;

        transition: border 0.5s;
        -webkit-transition: border 0.5s;
        -o-transition: border 0.5s;
        -moz-transition: border 0.5s;

        margin-top: 20px;
      }

      .Modal_ChooseButton:hover {
        cursor: pointer;
        border: 1px solid $basicOrange;
      }
    }

    #TaxonomyModal {
      .Modal_Body {
        height: auto;
      }
    }

    #MarketplaceModal {
      .Modal_Body {
        height: 150px;
      }
    }

    .clickable-select-choice {
      width: 100%;
      float: left;
      text-align: center;
      padding: 10px;
    }

    i {
      position: absolute;
      right: 5px;

      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .SingleFilterWrapper {
    width: 100%;
    float: left;

    padding: 5px;
  }

  .SingleFilter {
    display: block;
    width: 100%;
    float: left;

    position: relative;

    margin: 0 9px 0 0;

    border-radius: 20px;

    font-size: 1em;

    border: 1px solid $lightestGray;

    transition: border 0.5s, box-shadow 0.5s;
    -webkit-transition: border 0.5s, box-shadow 0.5s;
    -moz-transition: border 0.5s, box-shadow 0.5s;
    -o-transition: border 0.5s, box-shadow 0.5s;

    text-align: center;

    padding: 10px;

    i {
      position: absolute;
      right: 10px;

      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
    }

    &:hover {
      cursor: pointer;

      -webkit-box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);
      -moz-box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);
      box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);
    }

    &:hover i {
      color: $basicOrange;
    }
  }
}

.SelectedFilters {
  width: 100%;
  float: left;

  margin: 0 0 20px 0;

  .SelectedFilter {
    display: inline-block;

    margin-right: 5px;

    -webkit-box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);
    -moz-box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);
    box-shadow: 1px 2px 8px 1px rgba(156,156,156,0.79);

    border-radius: 10px;

    padding: 4px;

    color: black;

    font-size: 0.8em;

    i {
      color: $lightestGray;

      padding: 5px;
      padding-left: 8px;

      border-left: 1px solid $lightestGray;

      &:hover {
        cursor: pointer;
        color: $basicOrange;
      }
    }
  }
}