#search_page {
  .MarketplaceChoice {
    width: 100%;
    float: left;

    .ChoiceButtons {
      width: 480px;
      overflow: hidden;
      margin: 0 auto;

      h1 {
        text-align: center;
        color: black;

        padding-bottom: 5px;
      }

      .ChoiceCaret {
        width: 100%;
        float: left;

        margin: 20px 0 0 0;

        i {
          display: block;
          width: 30px;
          height: 30px;
          overflow: hidden;

          margin: 0 auto;

          color: $middleGray;

          font-size: 1.5em;
        }
      }

      .ButtonWrapper {
        width: 100%;
        float: left;
      }

      .ClickableElement {
        display: block;
        width: 80px;
        float: left;

        margin-right: 5%;

        border-radius: 100px;

        border: 1px solid white;

        &:hover {
          cursor: pointer;
        }
      }

      .ClickableElement-highlighted {
        border: 1px solid $basicOrange;
      }

      img {
        width: 100%;
        height: 80px;
        float: left;
        display: block;

        padding: 10px;
      }
    }
  }
}