#search_page {
  width: 100%;
  float:left;

  margin-top: 50px;



  .AdvancedSearch {
    width: 100%;
    float: left;
  }

  .SearchBoxAdvanced {
    width: 100%;
    float: left;

    position: relative;

    border: 1px solid white;

    .InvalidInput {
      width: 100%;
      float:left;

      padding: 10px;
      margin: 30px 0 0 0;
      line-height: 1.4em;
      color: $basicOrange;
      background-color: #f9c7c7;
    }

    .SearchBoxAdvanced-enter-to-search {
      width: 100%;
      float: left;

      font-size: 0.8em;
      color: $middleGray;

      margin-top: 3px;
    }

    .SearchBox_InputBox {
      width: 100%;
      float: left;
      position: relative;

      .InputBox {
        display: block;
        width: 100%;
        float: left;

        padding: 15px;

        font-family: $mainFont;
        font-size: 1.2em;

        border: 1px solid $lightestGray;
      }

      .Error {
        border-bottom: 1px solid $errorColor;
      }
    }

    .SearchBox_SubmitBox {
      width: 60px;
      height: 55px;
      position: absolute;
      right: 0;
      bottom: 1px;

      button {
        display: block;
        width: 60px;
        height: 55px;
        float: left;

        border: none;
        color: white;
        background-color: $basicOrange;

        font-size: 1.1em;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}