.SearchItems {
  width: 100%;
  float: left;

  .SearchItems_GlobalIdIdentifier {
    width: 100%;

    float: left;

    color: black;
    font-size: 1.5em;
    text-align: center;

    padding-bottom: 10px;
    border-bottom: 1px solid $lightestGray;

    margin-bottom: 30px;
  }

  .GlobalIdContainer {
    margin: 30px 0 30px 0;
  }

  .LoadMoreWrapper {
    width: 100%;
    float: left;

    margin: 10px 0 50px 0;
  }

  .LoadMore {
    width: 480px;
    overflow: hidden;
    margin: 0 auto;

    color: $lightBlue;

    text-align: center;

    padding-bottom: 10px;

    border-bottom: 1px solid $lightBlue;

    span {
      display: block;
    }

    i {
      margin: 0 auto;
    }

    &:hover {
      cursor: pointer;
    }
  }
}