#search_page {
  .Sentence {
    width: 100%;
    float: left;

    margin-top: 10px;

    h1 {
      padding-bottom: 5px;

      border-bottom: 1px solid $lightestGray;
    }

    p {
      margin-top: 10px;
      line-height: 1.4em;
    }

    .highlighted {
      font-weight: bolder;
      color: black;
    }
  }
}