/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

body {
  font-size: 16px;
  width: 100%;
  background-color: white;
  font-family: "Raleway", sans-serif;
  color: #5b5b5b;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
}

.container {
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
}

.wrap {
  width: 100%;
  float: left;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

#main_header {
  width: 100%;
  float: left;
  color: #5b5b5b;
  position: relative;
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 20px;
}
#main_header .logo {
  display: block;
  width: 80px;
  position: absolute;
  left: 0;
  top: 11px;
  padding: 16px;
}
#main_header .logo .logo-part {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  font-weight: bolder;
  font-family: "Paytone One", sans-serif;
}
#main_header .logo .i-part {
  color: #2E53F3;
}
#main_header .logo .am-part {
  color: #46ea25;
}
#main_header .logo .buying-part {
  color: #f78f27;
}
#main_header nav {
  width: 480px;
  max-width: 480px;
  margin: 0 auto;
}
#main_header nav a {
  font-size: 0.8em;
  position: relative;
  display: block;
  width: 100px;
  float: left;
  color: #5b5b5b;
  overflow: hidden;
  margin-top: 64px;
  margin-right: 47px;
  padding-bottom: 10px;
}
#main_header nav a p {
  width: 100px;
  position: absolute;
  bottom: -60px;
}
#main_header nav a span {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #b3bff2;
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}
#main_header nav a i {
  display: block;
  position: absolute;
  color: #b3bff2;
  top: 1px;
  right: 1px;
  transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
#main_header nav a:hover span {
  background: #2E53F3;
}
#main_header nav a:hover i {
  color: #2E53F3;
}

#start_page {
  width: 100%;
  float: left;
}
#start_page .the-mission {
  width: 480px;
  max-width: 480px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}
#start_page .the-mission h1 {
  width: 100%;
  font-size: 2em;
  border-bottom: 1px solid #5b5b5b;
  margin-bottom: 50px;
}
#start_page .the-mission p {
  font-size: 1.4em;
  line-height: 1.5em;
}
#start_page .the-mission p a {
  color: #b3bff2;
  border-bottom: 1px dotted #b3bff2;
  -webkit-transition: color 0.5s, border-bottom 0.5s;
  -moz-transition: color 0.5s, border-bottom 0.5s;
  -o-transition: color 0.5s, border-bottom 0.5s;
  transition: color 0.5s, border-bottom 0.5s;
}
#start_page .the-mission p a:hover {
  color: #2E53F3;
  border-bottom: 1px dotted #2E53F3;
}
#start_page .start-experience-wrapper {
  width: 480px;
  max-width: 480px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}
#start_page .start-experience-wrapper a {
  width: 240px;
  display: block;
  font-family: "Paytone One", sans-serif;
  color: white;
  font-size: 1.5em;
  text-align: center;
  background-color: #f78f27;
  padding: 20px;
  border-radius: 100px;
}

.search-box-wrapper {
  padding: 20px 0 20px 0;
  margin-top: 50px;
}
.search-box-wrapper .search-box {
  width: 480px;
  max-width: 480px;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
}
.search-box-wrapper .search-box .search-input {
  width: 275px;
  display: block;
  float: left;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  border: 1px solid #b3bff2;
  font-size: 1.5em;
  border-radius: 100px;
  padding: 10px;
}
.search-box-wrapper .search-box .search-input::-webkit-input-placeholder {
  color: #a8a8a8;
  font-size: 0.8em;
}
.search-box-wrapper .search-box .search-input::-moz-placeholder {
  color: #a8a8a8;
  font-size: 0.8em;
}
.search-box-wrapper .search-box .search-input::-ms-input-placeholder {
  color: #a8a8a8;
  font-size: 0.8em;
}
.search-box-wrapper .search-box .search-input::-moz-placeholder {
  color: #a8a8a8;
  font-size: 0.8em;
}
.search-box-wrapper .search-box button {
  width: 100px;
  display: block;
  float: left;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: white;
  background-color: #b3bff2;
  padding: 14px;
  margin-left: 22px;
  border-radius: 100px;
  transition: background-color 0.5s;
}
.search-box-wrapper .search-box button:hover {
  cursor: pointer;
  background-color: #2E53F3;
}
.search-box-wrapper .search-box p {
  width: 275px;
  float: left;
  color: #5b5b5b;
  line-height: 1.5em;
  font-size: 0.7em;
  margin-left: 11px;
  margin-top: 5px;
}
.search-box-wrapper .search-box p i {
  color: #2E53F3;
}
.search-box-wrapper .search-box p a {
  color: #2E53F3;
}
.search-box-wrapper .search-box .keywords-error {
  border: 1px solid red;
}

.toggle-filter-box-wrapper .toggle-filter-box-fixed-width-row {
  width: 480px;
  max-width: 480px;
  overflow: hidden;
  margin: 0 auto;
}
.toggle-filter-box-wrapper button {
  position: relative;
  width: 97px;
  float: right;
  color: #b3bff2;
  font-size: 1em;
  border: none;
  font-family: "Raleway", sans-serif;
  text-align: left;
  margin-right: 86px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.toggle-filter-box-wrapper button:hover {
  color: #2E53F3;
  cursor: pointer;
}
.toggle-filter-box-wrapper button i {
  position: absolute;
  top: 3px;
  right: 0;
}

.filter-box-wrapper {
  padding: 20px 0 20px 0;
}
.filter-box-wrapper .filter-box-fixed-width-row {
  width: 480px;
  max-width: 480px;
  overflow: hidden;
  margin: 0 auto;
}
.filter-box-wrapper .filter-box-fixed-width-row .added-filters-box {
  width: 393px;
  float: left;
  margin: 10px 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #b3bff2;
}
.filter-box-wrapper .filter-box-fixed-width-row .added-filters-box .filter-message {
  display: block;
  font-size: 0.7em;
  color: #5b5b5b;
}
.filter-box-wrapper .filter-box-fixed-width-row .added-filters-box .added-filters {
  width: 393px;
  float: left;
  margin-bottom: 10px;
}
.filter-box-wrapper .filter-box-fixed-width-row .added-filters-box .added-filters span {
  display: inline-block;
  float: left;
  padding: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
  color: white;
  font-size: 0.9em;
  border-radius: 100px;
  background-color: #f78f27;
}
.filter-box-wrapper .filter-box-fixed-width-row .added-filters-box .added-filters span i {
  margin-left: 5px;
}
.filter-box-wrapper .filter-box-fixed-width-row .added-filters-box .added-filters span:hover {
  cursor: pointer;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box {
  width: 393px;
  float: left;
  margin: 10px 0 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #b3bff2;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box button {
  border: none;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  border-radius: 100px;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .filter {
  display: inline-block;
  margin-right: 10px;
  color: white;
  background-color: #b3bff2;
  font-size: 0.9em;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .filter i {
  margin-left: 5px;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .filter:hover {
  cursor: pointer;
  background-color: #2E53F3;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .disable-added-filter {
  display: inline-block;
  margin-right: 10px;
  color: white;
  background-color: #d6d6d6;
  font-size: 0.9em;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .disable-added-filter i {
  margin-left: 5px;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .disable-added-filter:hover {
  cursor: default;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .price-range-filter {
  display: inline-block;
  font-size: 0.9em;
  color: white;
  border-radius: 100px;
  background-color: #b3bff2;
  margin: 10px 10px 10px 0;
  padding: 8px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .price-range-filter input[type=text] {
  border: none;
  font-family: "Raleway", sans-serif;
  border-radius: 100px;
  font-size: 0.9em;
  padding: 5px;
  width: 50px;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .price-range-filter:hover {
  background-color: #2E53F3;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .ships-to-filter {
  display: inline-block;
  font-size: 0.9em;
  color: white;
  border-radius: 100px;
  background-color: #b3bff2;
  margin: 10px 10px 10px 0;
  padding: 13px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .ships-to-filter select {
  width: 100px;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: none;
}
.filter-box-wrapper .filter-box-fixed-width-row .add-filters-box .ships-to-filter:hover {
  background-color: #2E53F3;
}

#uniformed_search {
  width: 100%;
  overflow: hidden;
}

.error-message {
  position: relative;
  color: white;
  font-size: 0.9em;
  background-color: #d6d6d6;
  border-radius: 100px;
  margin-bottom: 20px;
  line-height: 1.5em;
  padding: 5px 30px 5px 50px;
}
.error-message .info {
  position: absolute;
  color: white;
  left: 10px;
  top: 16px;
  font-size: 1.3em;
}
.error-message .close {
  position: absolute;
  right: 16px;
  bottom: 13px;
  padding: 5px;
}
.error-message .close:hover {
  cursor: pointer;
}

.search-listing-wrapper {
  margin-top: 50px;
}
.search-listing-wrapper .search-listing {
  width: 960px;
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}
.search-listing-wrapper .search-listing .bordered-row-separator {
  width: 50px;
  float: left;
  height: 1px;
  background-color: #d6d6d6;
  margin-bottom: 15px;
}
.search-listing-wrapper .search-listing .shop-logo img {
  display: block;
  width: 40px;
  height: 40px;
}
.search-listing-wrapper .search-listing .search-item {
  display: inline-block;
  width: 200px;
  max-width: 200px;
  float: left;
  background-color: white;
  margin: 0 0 40px 40px;
  border-radius: 20px;
}
.search-listing-wrapper .search-listing .search-item .item-image {
  width: 100%;
  height: 150px;
  float: left;
  margin: 0 18px 18px 0;
}
.search-listing-wrapper .search-listing .search-item .item-image img {
  display: block;
  width: 100%;
  height: 150px;
}
.search-listing-wrapper .search-listing .search-item .title-wrapper {
  margin-bottom: 10px;
}
.search-listing-wrapper .search-listing .search-item .title-wrapper h1 {
  font-size: 0.9em;
}
.search-listing-wrapper .search-listing .search-item .account-wrapper {
  margin-bottom: 10px;
  font-size: 0.7em;
}
.search-listing-wrapper .search-listing .search-item .account-wrapper a {
  color: #b3bff2;
  border-bottom: 1px solid white;
  transition: color 0.5s, border-bottom 0.5s;
  -webkit-transition: color 0.5s, border-bottom 0.5s;
  -moz-transition: color 0.5s, border-bottom 0.5s;
  -o-transition: color 0.5s, border-bottom 0.5s;
}
.search-listing-wrapper .search-listing .search-item .account-wrapper a:hover {
  color: #2E53F3;
  border-bottom: 1px solid #2E53F3;
}
.search-listing-wrapper .search-listing .search-item .price-wrapper h1 {
  font-weight: bolder;
}
.search-listing-wrapper .search-listing .search-item .view-item-button-wrapper {
  margin-top: 15px;
}
.search-listing-wrapper .search-listing .search-item .view-item-button-wrapper a {
  display: block;
  width: 100%;
  border: none;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
  background-color: #f78f27;
  padding: 15px;
  font-size: 0.7em;
}

/*# sourceMappingURL=build.css.map */
