/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

body {
  font-size: 16px;
  width: 100%;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  color: #5b5b5b;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
}

.container {
  width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.wrap {
  width: 100%;
  float: left;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

#main_header {
  width: 100%;
  float: left;
  color: #5b5b5b;
  position: relative;
  background-color: white;
  padding-bottom: 20px;
}
#main_header .logo {
  display: block;
  width: 80px;
  position: absolute;
  left: 0;
  padding: 16px;
}
#main_header .logo .logo-part {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  font-weight: bolder;
  font-family: "Paytone One", sans-serif;
}
#main_header .logo .i-part {
  color: #2E53F3;
}
#main_header .logo .am-part {
  color: #46ea25;
}
#main_header .logo .buying-part {
  color: #f78f27;
}

#main_menu {
  width: 100%;
  float: left;
  border-bottom: 1px solid #d6d6d6;
}
#main_menu nav {
  width: 480px;
  overflow: hidden;
  margin: 0 auto;
}
#main_menu nav .item {
  float: left;
  margin-left: 10px;
}
#main_menu nav .item a {
  display: inline-block;
  width: 110px;
  padding: 15px;
  text-align: center;
  font-size: 0.9em;
  border-top: 2px solid white;
  transition: border-top 0.5s;
}
#main_menu nav .item a:hover {
  border-top: 2px solid #f78f27;
}

#StartPage {
  width: 100%;
  float: left;
  position: relative;
}
#StartPage .StartPage-background-image img {
  width: 100%;
  float: left;
}
#StartPage .StartPage_MissionStatement {
  width: 480px;
  position: absolute;
  color: white;
  background-color: rgba(96, 96, 96, 0.6);
  padding: 20px;
  border-radius: 10px;
  top: 10%;
  left: 30%;
}
#StartPage .StartPage_MissionStatement .MissionStatement-header {
  font-size: 2em;
  margin-bottom: 20px;
}
#StartPage .StartPage_MissionStatement .MissionStatement_Content {
  font-size: 1.5em;
  line-height: 1.3em;
}
#StartPage .StartPage_MissionStatement .MissionStatement_Content .Content-full-element-span {
  width: 100%;
  display: block;
}
#StartPage .StartPage_MissionStatement .MissionStatement_Link {
  color: #f78f27;
  font-family: "Paytone One", sans-serif;
}
#StartPage .StartPage_MissionStatement .MissionStatement_Link:hover {
  border-bottom: 4px solid #f78f27;
}

#typed_js_sentence {
  width: 100%;
  float: left;
  height: 30px;
  color: #f78f27;
  font-family: "Paytone One", sans-serif;
  text-align: center;
}

#todays_picks {
  width: 100%;
  float: left;
}
#todays_picks .todays-picks-header {
  width: 480px;
  overflow: hidden;
  padding: 10px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}

.ItemList {
  width: 100%;
  float: left;
}

.Item {
  width: 480px;
  height: 380px;
  float: left;
  overflow: hidden;
  margin: 0 0 40px 80px;
}
.Item .Item_ItemTaxonomyTitle {
  width: 250px;
  float: left;
  margin-top: 13px;
}
.Item .ItemTitle-webshop-logo {
  width: 70px;
  float: right;
}
.Item .ItemTitle-webshop-logo img {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
}
.Item .Item_ItemTitle {
  width: 100%;
  float: left;
}
.Item .Item_ItemTitle .ItemTitle-header {
  width: 100%;
  float: left;
  line-height: 1.2em;
}
.Item .Item_ItemImage {
  width: 100%;
  height: 120px;
  float: left;
  margin: 0 0 40px 0;
}
.Item .Item_ItemImage img {
  display: block;
  margin: 0 auto;
}
.Item .Item_Details {
  width: 100%;
  float: left;
}
.Item .Item_Details .Item_Details-shop-name {
  display: inline-block;
  color: #2E53F3;
  font-weight: bolder;
}
.Item .Item_Details .Item_Details-item-price {
  color: black;
  font-weight: bolder;
}
.Item .Item_ItemLink {
  width: 100%;
  float: left;
}
.Item .Item_ItemLink .ItemLink-closer-look {
  display: block;
  color: white;
  background-color: #f78f27;
  text-align: center;
  padding: 10px;
}

/*# sourceMappingURL=build.css.map */
